<!DOCTYPE html>
<html ng-app="securerandomui">
  <head>
    <title>SecureRandomUi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container" ng-view>
      <%= yield %>
    </div>
  </body>
</html>
